MISTRAL_API_KEY=<MISTRAL_API_KEY>
MISTRAL_AGENT_ID=ag_019bf257cc65710d85cc9b482d0a337e
SERVER_URL=https://api.mistral.ai
DEPLOYMENT_NAME=invoice-parser
ALLOW_OVERRIDE_NAMESPACE=true

# Tracing configuration
OTEL_ENABLED=false
LOG_LEVEL=DEBUG